<div class="coupon" >
    <div class="container pt-3">
        <h2 class="rose text-center subline-r">Regístrate y obtén</h2>
    </div>
    <!-- <img src="./../../../../assets/images/subline.png" alt="Mas Uno"  class="text-center" style="display:flex; margin-left: auto; margin-right: auto;"> -->
    <div class="container" style="background-color:white">

        <div class="row">
            <div class="col-8 rose">
                <h2><b class="porcent">10% </b></h2>
            </div>
            <div class="col-4 pt-5">
                <label class="first-buy">
                    En tu primera compra de
                </label>
                <label class="cyber-d">
                    CYBER DAYS
                </label>
            </div>
        </div>
        <div class="foot">
            <p>Aplicamos el descuento mediante un código que se te eviará a tu correo registrado.
            </p>
            <p>
                Cupón válido del 28 al 30 de marzo.
            </p>
            <p>
                *Aplican términos y condiciones
            </p>
        </div>
    </div>
</div>