<div class="mt-4">
    <img src="./../../../../assets/images/group2.svg" alt="Mas Uno" class="text-center"
        style="display:flex; margin-left: auto; margin-right: auto;">

    <p class="title mt-2">
        ¿Cómo obtengo el descuento por Cyber Days?
    </p>
    <div class="text-center">
        <img src="./../../../../assets/images/subline2.svg" alt="Mas Uno" class="text-center">
    </div>
    <p class="sub-title mt-2 mb-2">
        Para adquirir nuestro descuento especial por
        <strong class="sub-cyber">Cyber Days</strong>
        sigue los siguientes pasos
    </p>

    <div class="row mt-4">
        <div class="col-md-4 text-center">
            <p class="title">Paso 1 </p>
            <div style="height: 275px;">
                <img src="./../../../../assets/images/icons/register.svg" alt="Mas Uno" class="text-center">
            </div>
            <p class="title">Regístrate </p>
            <p class="context">Completa el formulario con tus datos personales y acepta los términos. </p>
        </div>

        <div class="col-md-4 text-center">
            <p class="title">Paso 2 </p>
            <div style="height: 275px;">
                <img src="./../../../../assets/images/icons/getcoupon.svg" alt="Mas Uno" class="text-center"
                    style="margin-top:1rem">
            </div>
            <p class="title">Recibe un cupón </p>
            <p class="context">Recibirás un correo electrónico donde podrás ver el cupón de descuento. </p>
        </div>

        <div class="col-md-4 text-center">
            <p class="title">Paso 3 </p>
            <div style="height: 275px;">
                <img src="./../../../../assets/images/icons/savemoney.svg" alt="Mas Uno" class="text-center"
                    style="margin-top:1rem">
            </div>
            <p class="title">Empieza a ahorrar </p>
            <p class="context">¡Y listo! Podrás usarlo del 28 al 30 de Marzo por compras en nuestra tienda online. </p>
        </div>
    </div>

</div>