<section class="cover  ">
    <div class="row bg-principal pt-4">
        <div class="col-xl-6 pl-4 ">
            <p style="margin-bottom:0">
                <img src="./../../../../assets/images/group.svg" alt="Mas Uno">
                <label style="font-size: 1.2rem; margin-left: 1rem;">
                    ES HORA DE
                </label>
            </p>

            <p class="fs-cyber fw-bold-800" style="margin-bottom:0">
                CYBER DAYS
            </p>

            <p>
                <label class="text-en">
                    EN
                </label>
                <label class="text-mas">
                    Más uno
                </label>
            </p>

            <p class="mt-4">
                Del <strong>28</strong> al <strong>30</strong> de marzo
            </p>

            <div class="cupon" >
                <app-coupon></app-coupon>
            </div>

        </div>
        <div class="col-xl-6">
            <app-register-form></app-register-form>
        </div>
    </div>
</section>